// Custom variable
$secondary: #c29938;
$light:#fbf5e5;

//import the functions & variables

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "bg1": #f2ebfa,
    "bg2": #522192,
    "boxcolor": #007e33,
    "lemon": #32f37f,
    "white": #fff
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";